.NavbarMainDiv {
  height: 64px;
  /* border: solid; */
  /* background-color: gray; */
  /* padding: 0px 40px; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 32px; */
  width: 100vw;
  top: 0px;
  position: fixed;
  z-index: 100;
}
.NavbarPageName {
  display: flex;
  align-items: center;
  color: #34393d;
  font-weight: 500;
  cursor: pointer;
  padding: 0px 16px;
}
/* .NavbarPageName > span,
.NavbarPageName > a {
  padding: 0px 0px;
} */
.NavbarPageName:hover {
  transition-duration: 0.3s;
  color: #3070f0;
}
.NavbarDownArrow {
  font-size: 20px;
}
.NavbarMainDiv a {
  text-decoration: none;
  color: #34393d;
}
.NavbarMainDiv a:hover {
  transition-duration: 0.3s;
  color: #3070f0;
}
.NavbarImage {
  display: flex;
  position: absolute;
  align-items: center;
  gap: 20px;
  left: 35px;
}
.NavbarImage > button {
  color: #292e33;
  font-size: 16px;
  font-weight: 500;
  height: 36px;
  width: 5.25vw;
  border-radius: 8px;
  border: solid rgba(128, 128, 128, 0.445) 1.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background: none;
}
.NavbarImage > button > :nth-child(1) {
  font-size: 20px;
}
.NavbarImage > button:hover {
  background-color: white;
}
.NavbarLoginSignup {
  position: absolute;
  right: 60px;
  display: flex;
  align-items: center;
  color: #34393d;
  font-weight: 500;
  cursor: pointer;
  gap: 15px;
}
.NavbarLoginSignup > button {
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px 15px;
  border: solid 1.6px #3070f0a7;
  background: none;
  color: #3070f0;
}
.NavbarLoginSignup > button:hover {
  transition-duration: 0.4s;
  background-color: #3070f0;
  color: white;
}
.dropdownSelected {
  display: flex;
  align-items: center;
  font-weight: 500;
  cursor: pointer;
  padding: 0px 16px;
  color: #3070f0;
}
