.heading {
    display: flex;
    justify-content: center;
    margin: 20px auto;
    /* text-decoration: underline; */
    font-weight: bolder;
}

/* .div {
    display: flex;
    justify-content: flex-end;
} */

.Div {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}
/*  */
.Div>p {
    text-decoration: underline;
}

.Div>img {
    width: 150px;
    margin-top: 15px;
}

.form {
    margin: auto;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 15px;
}

.input {
    margin-left: 30px;
    width: 70%;
    height: 25px;
}

.button {
    background-color: #f6a534;
    width: 100%;
    margin: auto;
    height: 30px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
}