* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.loginmain {
  border: 1px solid rgba(128, 128, 128, 0.493);
  width: 35%;
  height: 690px;
  margin: auto;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.loginmainimg {
  background-color: #f2f5fc;
  width: 100%;
  height: 26%;
}

.signupmaindiv1inputimg {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.signupmaindiv1inputh1 > h1 {
  font: PTRootUIWeb, sans-serif;
  font-size: 1.625rem;
  display: flex;
  justify-content: center;
  font-weight: 470;
  line-height: 1.3;
  margin-top: 28px;
}

.signupmaininputs {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
}

.signupmaininputs1 {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 50px;
}

.log label {
  width: 37.84px;
  height: 22.19px;
  color: rgb(97, 96, 96);
  padding: 0px 0px 4px;

  font-weight: 540;
}

.log input {
  width: 360px;
  height: 32.19px;
  margin-left: 2px;
  background-color: #ffffff;
  padding: 6px 12px;
  border: 1px solid rgba(128, 128, 128, 0.562);
  border-radius: 5px;
  margin-top: 4px;
  outline: none;
}

.log input:focus {
  outline: 1.6px solid #3070f052;
}

.signupmaininputsbtn {
  width: 360px;
  height: 32.19px;
  color: white;
  background-color: #3070f0;
  border: none;
  border-radius: 5px;
  margin-top: 40px;
  text-align: center;
  margin-left: 50px;
}

.signupmaininputsbtn:hover {
  background-color: #00349b;
  cursor: pointer;
}

.signupmaininputshr {
  display: flex;
  margin-top: 33px;
  width: fit-content;
  height: fit-content;
  justify-content: space-between;
  margin-left: 50px;
}

.log hr {
  width: 157.28px;
  height: 1px;
}

.log span {
  color: #777e85;
  width: 45.42;
  height: 22.19;
  padding: 0px 16px 9px;
}

.signupadsection {
  width: 90%;
  height: 220.19px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 43px;
}

.signupadsection1 {
  width: 90%;
  height: 33.19px;
  display: flex;
  justify-content: center;
  gap: 18px;
  border: 1px solid rgba(128, 128, 128, 0.562);
  border-radius: 5px;
  padding: 6px 16px;
}

.signupadsection1 > p {
  color: grey;
}

.signupadsechr {
  width: 380px;
  margin-top: 16px;
  height: 0.5px;
  margin-left: 10px;
}

.signupadsechrunder {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
}
