* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input[type=range] {
  height: 37px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 340px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 340px;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #306FEF;
  border-radius: 17px;
  border: 0px solid #000000;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 7px #C9C9C9;
  border: 3px solid #000000;
  height: 30px;
  width: 30px;
  border-radius: 50px;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #306FEF;
}

input[type=range]::-moz-range-track {
  width: 340px;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #306FEF;
  border-radius: 17px;
  border: 0px solid #000000;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 7px #C9C9C9;
  border: 0px solid #000000;
  height: 30px;
  width: 30px;
  border-radius: 50px;
  background: #FFFFFF;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 340px;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #306FEF;
  border: 0px solid #000000;
  border-radius: 34px;
  box-shadow: 0px 0px 0px #000000;
}

input[type=range]::-ms-fill-upper {
  background: #306FEF;
  border: 0px solid #000000;
  border-radius: 34px;
  box-shadow: 0px 0px 0px #000000;
}

input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 7px #C9C9C9;
  border: 0px solid #000000;
  height: 30px;
  width: 30px;
  border-radius: 50px;
  background: #FFFFFF;
  cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
  background: #306FEF;
}

input[type=range]:focus::-ms-fill-upper {
  background: #306FEF;
}